[submodule "lib/openzeppelin-contracts"]
	path = packages/onchain-setup/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = packages/onchain-setup/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
